site_name: ASCOTA
site_description: End-to-end AI pipeline for imaging
site_url: https://shabgaming.github.io/ASCOTA
repo_url: https://github.com/ShabGaming/ASCOTA
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy
    - content.tabs.link
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            show_root_toc_entry: false
            show_source: true
            merge_init_into_class: true
            separate_signature: true
            line_length: 100
  - include-markdown
  - mermaid2
  - awesome-pages

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.highlight
  - pymdownx.emoji
  - pymdownx.snippets
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Apps (Streamlit): apps.md
  - Color Correction App: color_correction_app.md
  - API Reference:
      - ascota_core:
          - Overview: api/ascota_core/index.md
          - color: api/ascota_core/color.md
          - imaging: api/ascota_core/imaging.md
          - scale: api/ascota_core/scale.md
          - utils: api/ascota_core/utils.md
      - ascota_classification:
          - Overview: api/ascota_classification/index.md
          - color: api/ascota_classification/color.md
          - decoration: api/ascota_classification/decoration.md
          - type: api/ascota_classification/type.md
          
watch:
  - src   # auto-reload when code changes

copyright: >
  © 2025 ASCOTA • Developed by M. Shahab Hasan (HKU)

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ShabGaming
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/shahabai/
    - icon: fontawesome/solid/globe
      link: https://www.shahabai.com
